img{
	width: 200px; height: 200px
}
h1{padding: 80px; text-align:center;}
body {background-color: black;}

td{
	font-size: 20px;
	padding: 25px;
	color:white;
	font-family: Courier New
}
p{
	font-size: 20px;
	padding: 0px;
	color:white;
	font-family: Courier New
}
thead{
	font-size: 120%;
	padding: 25px;
	color:white;
	font-family: Courier New
}
table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
}
th, td {
    padding:9px;
    text-align: right;
}
table#table {
    width: 100%;    
    background-color: Solid Navy ;
}

a:visited{color: PaleTurquoise;}
#recipeBackground{ background-color: Plum; }
#recipeImage{width:400px;height: 200px; margin: 10px }
#oltag {color: purple;}
#ultag {color: blue}
#ptag{color: green}
#ptag2{color: navy}