h1{padding: 80px; text-align:center;}
body {background-color: #000080;}

td{
	font-size: 15px;
	padding: 25px;
	color:#ff4dff;
	font-family: Courier New
}
p{
	font-size: 20px;
	padding: 0px;
	color:#ff4dff;
	font-family: Courier New
}
thead{
	font-size: 140%;
	padding: 25px;
	color:#ff4dff;
	font-family: Courier New
}
table, th, td {
    border: 2px solid pink;
    border-collapse: collapse;
}
th, td {
    padding:9px;
    text-align: right;
   }


a:visited{color: White;}
a{
	color: #ff4dff
}